<div th:fragment="mainboardDetailFragment(chiTietSanPham)">
    <p><strong>Model:</strong> <span th:text="${chiTietSanPham.modelMain}"></span></p>
    <p><strong>Chipset:</strong> <span th:text="${chiTietSanPham.chipset}"></span></p>
    <p><strong>Socket:</strong> <span th:text="${chiTietSanPham.socketMain}"></span></p>
    <p><strong>Kích thước:</strong> <span th:text="${chiTietSanPham.kichThuoc}"></span></p>
    <p><strong>Số khe RAM:</strong> <span th:text="${chiTietSanPham.soKheRAM}"></span></p>
    <p><strong>Mô tả:</strong> <span th:text="${chiTietSanPham.mota}"></span></p>
</div>